.recipeInfoPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: 3px solid red;
}

.recipeTitle {

}

.recipeImage {

}

.recipeInfoPage > h2 {
    margin-top: 2rem;
}

.recipeInfoPage form {
    width: 35rem;
}

.recipeInfoPage form > label {
    margin-right: 0.5rem;
    color: #666;
}

.recipeInfoPage input[type=number] {
    font-size: 1rem;
}

.recipeInfoPage input[type=number]::-webkit-inner-spin-button, .recipeInfoPage input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    cursor: pointer;
}

.neededIngredientsContainer {
    width: 35rem;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.neededIngredient {
    width: max-content;
    height: max-content;
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neededIngredient > img {
    object-fit: contain;
    width: auto;
    height: 4rem;
}

.neededIngredient-name {
    text-align: center;
    font-size: 0.8rem;
}

.neededIngredient-amount {
    text-align: center;
    font-size: 0.7rem;
    color: rgba(79, 80, 90, 0.6);
}

.neededEquipmentContainer {
    width: 35rem;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.neededEquipment {
    width: max-content;
    height: max-content;
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neededEquipment-image {
    object-fit: contain;
    width: auto;
    height: 4rem;
}

.neededEquipment-name {
    text-align: center;
    font-size: 0.8rem;
}

.instructionsContainer {
    width: 40rem;
}

.instructionsContainer > .instruction {
    display: flex;
    margin-top: 1rem;
}

.instruction > .instructionOrder {
    min-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 50px;
    background-color: #D8456B;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.instruction > p {
    color: #666666;
    margin-top: 0.5rem;
    line-height: 22px;
}

