.recipeInfoPage {
    width: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: auto;
}

.recipeImage {
    object-fit: cover;
    width: 100%;
    height: 40rem;
    margin-top: 5.5rem;
}

.recipeTagsContainer {
    display: flex;
    margin-top: 2rem;
}

.recipeTag {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: #205B00;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin-right: 0.5rem;
    text-decoration: line-through;
}

.recipeName {
    font-size: 1.5rem;
    color: #205b00;
    margin-top: 3rem;
}

.recipePrepTime {
    border-top: 2px solid #E5E9EF;
    border-bottom: 2px solid #E5E9EF;
    width: 35rem;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #205B00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipePrepTime > span {
    color: #B2BCCD;
    font-size: 2rem;
    margin: 0 0.35rem;
}

.servingSizeTitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.5rem;
    color: #205B00;
}

.neededIngredientsTitle {
    margin-top: 5rem;
    color: #205B00;
}

.servingSizeCounter {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.servingSize-reduce, .servingSize-increase {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.2s;
}

.servingSize-reduce:hover, .servingSize-increase:hover {
    background-color: #205B00;
    color: white;
}

.servingSizeCounter > span {
    font-weight: 700;
    font-size: 2rem;
    color: #205B00;;
}

.neededIngredientsContainer {
    width: max-content;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.neededIngredient {
    width: 100%;
    height: max-content;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.neededIngredient > img {
    object-fit: contain;
    width: auto;
    height: 2rem;
}

.neededIngredient-name {
    font-size: 14px;
    font-weight: 700;
    color: #205b00;
    width: 12.5rem;
}

.neededIngredient-amount {
    text-align: start;
    font-size: 14px;
    font-weight: 700;
    color: #205b00;
    width: 7.5rem;
}

.neededEquipmentTitle {
    margin-top: 5rem;
}

.neededEquipmentContainer {
    width: 35rem;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.neededEquipment {
    width: max-content;
    height: max-content;
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neededEquipment-image {
    object-fit: contain;
    width: auto;
    height: 4rem;
}

.neededEquipment-name {
    text-align: center;
    font-size: 0.8rem;
}

.instructionsContainer {
    width: 40rem;
}

.instructionsContainer > .instruction {
    display: flex;
    margin-top: 1rem;
}

.instruction > .instructionOrder {
    min-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 50px;
    background-color: #D8456B;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.instruction > p {
    color: #666666;
    margin-top: 0.5rem;
    line-height: 22px;
}

