.nutrientsPage > form {
    width: 35rem;
}

.nutrientsPage input[type=number]::-webkit-inner-spin-button,
.nutrientsPage input[type=number]::-webkit-outer-spin-button {
    visibility: hidden;
}

.nutrientInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

.nutrientInputContainer > .nutrientInputContainer-input > input {
    width: 3rem;
    padding: 0.5rem 0;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: 2px solid #ccd2de;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
    .nutrientsPage > form {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .nutrientInputContainer > h2 {
        font-size: 1rem;
    }

    .nutrientInputContainer-input label {
        font-size: 0.8rem;
    }

    .nutrientInputContainer > .nutrientInputContainer-input > input {
        margin: 0 0.5rem;
    }
}