.navBar {
    width: 100%;
    margin: auto;
    height: 5.5rem;
    position: fixed;
}

.innerNavBar {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: white;
}

.innerNavBar > img {
    object-fit: contain;
    width: auto;
    height: 2rem;
    margin: 0 3rem;
}

.innerNavBar-searchBar {
    height: 40px;
    position: relative;
    display: flex;
    flex: 1;
}

.innerNavBar-searchBar > input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: 2px solid #ccd2de;
    border-radius: 6px;
    font-size: 14px;
}

.innerNavBar-searchBar > input::placeholder {
    color: #205B00;
    font-size: 14px;
}

.innerNavBar-searchBar > button {
    position: relative;
    right: 2rem;
    top: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #205B00;
    transition: 0.2s;
}

.innerNavBar > button {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0 2rem 0 1.5rem;
    color: #205B00;
    transition: 0.2s;
}

.innerNavBar-searchBar > button:hover, .innerNavBar > button:hover {
    color: red;
}