.recipesPage {
    min-height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.recipesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5.5rem;
}

.recipe {
    display: flex;
    width: 30rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
    background-color: white;
}

.recipe:hover {
    transform: scale(1.1);
    z-index: 2;
}

.recipe > img {
    object-fit: contain;
    width: auto;
    height: 8rem;
    border-radius: 5px;
}

.recipeInfo {
    width: 30rem;
    padding: 0.5rem;
}

.recipeInfo > h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #205B00;
}
.recipeInfo > p {
    font-size: 0.8rem;
    padding-top: 1rem;
    color: #205B00;
}