.neededIngredientsContainer {
    width: 25rem;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

@media only screen and (max-width: 400px) {
    .neededIngredientsContainer {
        width: 20rem;
    }
}

@media only screen and (max-width: 320px) {
    .neededIngredientsContainer {
        width: 17.5rem;
    }
}