.ingredientsPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredientsContainer {
    width: 40rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.searchContainer > input {
    height: max-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    width: 50%;
}

.autoCompletedIngredients {
    position: absolute;
    width: calc(50% + 2rem);
    background-color: white;
    z-index: 5;
    height: max-content;
    top: 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.autoCompletedIngredients > button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
}

.autoCompletedIngredients > button:hover {
    background-color: lightgray;
}

.addIngredientIcon {
    color: green;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.autoCompletedIngredients > button > img {
    object-fit: contain;
    height: 1.5rem;
    width: auto;
    margin-left: 0.5rem;
    border-radius: 50px;
}

.addedIngredients {
    width: 100%;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-size: 0.8rem;
    outline: solid red;
}

.ingredient {
    width: max-content;
    height: max-content;
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredient > img {
    object-fit: contain;
    width: auto;
    height: 4rem;
}

.ingredientTag {
    text-align: center;
}

.ingredientTag > button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    height: max-content;
    width: max-content;
    border-radius: 50px;
    color: #CA1929;
}

.findRecipeButton {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    transition: 0.2s;
}

.findRecipeButton:hover {
    background-color: gray;
}